* {
	font-family: Helvetica, sans serif;
}

body {
	background-color: #d3d3d3;
}

.header {
	float: left;
	width: 100%;
	text-align: center;
}

.left {
	clear: both;
	float: left;
	display: block;
	border: 1px solid #c2c2c2;
	
	width: 20%;
}

.right {
	float: left;
	display: inline;
	width: 70%;
}